
.textarea-component-main{
  display: flex;
  flex-direction: column-reverse;
}



.textarea-main-wrapper{
  padding-left: 20px; 
  padding-bottom: 20px; 


}

.textarea-content-wrapper{
  display: flex;
  flex-direction: column;
}


.textarea-title{
  font-size: xxx-large;
  font-weight: 800;
  padding-left: 10px;
  padding-bottom: 10px;

  width: fit-content;
}
.textarea-content{
  padding-left: 20px;
  padding-bottom: 20px;
}
.textarea-content p{
  padding-top: 10px;

  width: 80%;
}

.textarea-content img{
  padding: 0px 0px 0px 0px;
  height: 100%;
}

.textarea-date{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
  font-size: small;
  width: fit-content;
}
.date-time{
  font-weight: 600;
}
.day-time{
  font-style: italic;
  font-size: smaller;
  color:  rgb(153 153 153);
}
.textarea-date-border{
  border: 1px solid #cecece;
  width: 160px;
}

.text-area-paragraphs{
  padding-bottom: 10px;
  padding-right: 20%;
}

.textarea-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
}

@media (max-width: 768px) {
  /* tablets and below*/
  .textarea-content{
    padding: 5px;
    padding-left: 15px;
    padding-right: 10px;
    font-size: small;
  }

  .textarea-content-wrapper{
    padding-left: 5px;
    padding-right: 5px;
  }
  .textarea-date{
    padding-left: 20px;
  }
  .textarea-main-wrapper{
    padding: 0px;
    padding-bottom: 20px;
  }
  .textarea-title {
    font-size: large;
  }
  .text-area-paragraphs{
  
    padding: 10px;
  } 

 

  .textarea-content img{
    padding: 0px 0px 0px 0px;
    width: 100%;
  }

  .textarea-wrapper{
    width: 100%;
  }

}

@media (max-width: 968px ){
  .textarea-content p{
    width: 100%;
    padding-left: 0px !important;
  }
}